<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogToConsole="false"
      internalLogLevel="Trace"
      >

  <!--
  Log levels min-to-max: Trace,Debug,Info,Warn,Error,Fatal
  To get the node identifier for the process: ${environment:variable=node_id}
  To add thread name: ${threadname}
  [${longdate}]
  -->

  <extensions>
    <add assembly="mvm_lib"/>
  </extensions>
  <variable name="log_dir" value="${basedir}/../MvmLogs"/>
  <targets>
    <target name="my_file" xsi:type="AsyncWrapper" batchSize="100" queueLimit="10000" overflowAction="Block">
      <target
         name="my_inner_file"
         xsi:type="File"
         deleteOldFileOnStartup="true"
         fileName="${log_dir}/MVM_LOG.${environment:variable=node_id}.txt"
         layout="[${longdate}][${environment:variable=node_id}][${threadname}]${message}"
         autoFlush="false"
         concurrentWrites="false"/>
    </target>
    <target name="my_console" xsi:type="Console" layout="[${longdate}][${environment:variable=node_id}][${threadname}]${message}"/>
    <target name="slave_console" xsi:type="Console" layout="${message}"/>
    <target name="slave_file" xsi:type="Console" layout="${message}"/>

  </targets>
  <rules>
    <logger name="*" writeTo="my_console"/>
    <logger name="*" writeTo="my_file"/>
    <!--<logger name="MVM.*" minlevel="Warn" writeTo="my_console"/>
    <logger name="MVM.*" minlevel="Debug" writeTo="my_file"/>
    <logger name="XML.*" minlevel="Info" writeTo="my_console"/>
    <logger name="XML.*" minlevel="Trace" writeTo="my_file"/>-->
  </rules>
</nlog>